<script type="text/javascript">

require(['jquery', 'YSDLocationViewer'],
 function($, LocationViewer)  {
        	
   $(window).load( function(event) {
        
     var location = {address : '<%=element.location_full_address%>',
                     title: '<%="#{element.title}"%>',
                     description : '<%= "<h1>#{element.title}</h1> #{element.location_full_address}" %>'
                   };
                   
     var map = new LocationViewer('location-map');
     map.setCenter(location);
     map.addLocation(location);
  
   });
  
 });
        
</script>