<div class="location_template">
  <div class="content_data_block">
    <h3 class="content_data_block_title"><%= t.content.content_location.description %></h3>
    <% if show_title %>
    <div class="content_data_row">
      <a href="<%="/content/#{element.id}"%>"><%=element.title%></a>
    </div>
    <% end %>
    <div class="content_data_row"><%= element.location_full_address %></div>
    <div class="content_data_row"><div id="location-map"></div></div>
  </div>
</div>